# ****h* config/.clangd
# NAME
#   .clangd
# ******
---
CompileFlags:
  CompilationDatabase: "."
  Add:
    - "-ffreestanding"
    - "-Iinclude"
    - "-nostdlib"
    - "-std=c17"
    - "-Wall"
    - "-Wextra"
    - "-xc"

Diagnostics:
  Suppress:
    - "empty-translation-unit"

Index:
  External:
    File: ".clangd/index"

# vim: set filetype=yaml :
