
#****h* config/.clang-format
# NAME
#   .clang-format
#******

Language: C
BasedOnStyle: LLVM

AlwaysBreakAfterReturnType: TopLevelDefinitions
ColumnLimit: 80
SortIncludes: true

#===============================================================================
# BRACES
#===============================================================================

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: false
  AfterControlStatement: false
  AfterFunction: true
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false

#===============================================================================
# INDENTATION
#===============================================================================

ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 8
UseTab: Always

#===============================================================================
# SPACING
#===============================================================================

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
AlignEscapedNewlines: Right
SpaceAfterCStyleCast: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

# vim: set filetype=yaml :
