
#****h* config/.clang-tidy
# NAME
#   .clang-tidy
#******

Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: '*'

FormatStyle: none

# vim: set filetype=yaml :
