# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (C) 2026 Nathaniel Williams
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; version 2.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the Free Software Foundation, Inc., 51
# Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
#

# To compile the documentation with ROBODoc for this project, run this command
# from the base directory of the project:
#
# $ robodoc --rc robodoc.rc

#===============================================================================
# OPTIONS
#===============================================================================

options:
#   --documenttitle CompuGuessr
    --html
    --index
    --multidoc
#   --nopre
    --no_subdirectories
#   --one_file_per_header
#   --source_line_numbers
    --syntaxcolors_enable quotes,squotes,line_comments,block_comments,keywords,non_alpha
    --tabsize 8
    --tell
    --toc

accept files:
    *.asm
    *.inc

ignore files:
    bin*
    build*
    docs*
    templates*

#===============================================================================
# ITEMS
#===============================================================================

items:
    NAME
    # Name of the symbol being documented.
    SYNOPSIS
    # Signature of how the symbol is used.
    FUNCTION
    # A more detailed description of how it works and what it is used for.
    INPUTS
    # A list of the input parameters of the symbol (if it accepts any).
    RETURN
    # Expected results on success/error.
    EXAMPLE
    # A code example to illustrate appropriate usage of the symbol.
    NOTES
    SEE ALSO
    # Additional information.
    SOURCE

item order:
    NAME
    SYNOPSIS
    FUNCTION
    INPUTS
    RETURN
    EXAMPLE
    NOTES
    SEE ALSO
    SOURCE

format items:
    FUNCTION
    INPUTS
    RETURN
    NOTES

preformatted items:
    NAME
    SYNOPSIS
    EXAMPLE
    SOURCE

#===============================================================================
# MARKERS
#===============================================================================

header markers:
    ;;****

remark markers:
    ;;

end markers:
    ;;******

#===============================================================================
# HEADERS
#===============================================================================

headertypes:
    d  "Constants"  robo_constants
    f  "Functions"  robo_functions
    s  "Structures" robo_structures
    m  "Macros"     robo_macros

header separate characters:
    ,

header ignore characters:
    [
